*{
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}
body{
  min-height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  transition: 0.5s;
}

.top{
  position: fixed;
  flex-direction: row;
  width: 100%;
  height: fit-content;
/*   background-color: rgb(0, 0, 0);
  box-shadow: 1px 1px 80px rgb(0, 0, 0); */
}

ul{
  margin:20px 50px;
  display: flex;
  list-style: none;
}

.navbar{
  display: flex;
  justify-content: space-between;
}

a{
  color: whitesmoke;
  text-decoration: none;
  transition: 0.2s;
}

li{
  font-size: 1.2rem;
  color: whitesmoke;
  padding-left: 10px;
  cursor: pointer;

}

a:hover{
  color: rgb(233, 42, 42);
}

.page{
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:100%;
  font-size: 2rem;
}

.red{
  font-weight: bold;
  color: rgb(233, 42, 42);
}
.workBtn{
  margin:50px;
}

.btn{
  border-radius: 10px;
  border: 3px whitesmoke solid;
  padding:5px 20px;
  color: rgb(233, 42, 42);
  font-weight: bold;
}

.projectBtn{
  font-size: 1.3rem;
  margin:0 5px;
}
.btn:hover{
  color: whitesmoke;
  border-color: rgb(233, 42, 42);
  cursor: pointer;
}

.btnSelected{
  color: whitesmoke;
  border-color: rgb(233, 42, 42);
}

.projects{
  height:50%;

}

.workContainer{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.buttons{
  width:50%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.socialLink{
  color:whitesmoke;
  font-size: 1.5rem;
}

.facebook:hover{
  color:rgb(66,103,178);
}
.twitter:hover{
  color:rgb(29,161,242);
}
.github:hover{
  color: lightgray
}
.linkedin:hover{
  color:rgb(40,103,178);
}

.projects{
  width: 70%;
  height: 400px;
  border: 3px whitesmoke solid;
  margin-top: 20px;
  border-radius: 10px;
  display: flex;
}
.projectRow{
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.card{
  background-color: black;
  color: rgb(233, 42, 42);
  height: 80%;
  width: 25%;
  max-width: 208px;
  position: relative;
  border: 1px whitesmoke solid;
  border-radius: 10px;
  transition: .2s;
  display: inline-block;
}

.card:hover{
  color: whitesmoke;
  transform: scale(1.1);
  border-color: rgb(233, 42, 42);
  z-index: 1;
}

.cardImg{
  height: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px 10px 0 0;
}

.cardBtnContainer{
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  bottom: 10px;
  width: 100%;
}

.card p,h1{
  text-align: center;
}
.cardBtn{
  transform:scale(.85);
}
